<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/events']">Events</a></li>
      <li class="breadcrumb-item active" aria-current="page">Event {{ event.eventTime }}</li>
    </ol>
  </nav>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="card">
    <h3 class="card-header">Event</h3>
    <div class="card-body">
      <form>
        <div class="form-group row">
        <label class="col-form-label col-sm-2" for="shipSelect">Type:</label>
        <div class="col-sm-6">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="etype" [(ngModel)]="event.eventType">
            <label ngbButtonLabel class="btn-primary"><input ngbButton type="radio" value="1">Arrival</label>
            <label ngbButtonLabel class="btn-primary"><input ngbButton type="radio" value="2">Departure</label>
          </div>
        </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Date:</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="edate" [(ngModel)]="startDate" [maxDate]="maxDate"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-info calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Time:</label>
          <div class="col-sm-3">
            <ngb-timepicker name="tp" [(ngModel)]="timeOfEvent" [meridian]="false" [seconds]="false" [spinners]="true"
              [minuteStep]="15"></ngb-timepicker>
          </div>
        </div>

        <div class="form-group">
          <label for="shipSelect">Ship:</label>
          <select [(ngModel)]="event.shipId" name="eship" class="form-control" id="shipSelect">
            <option *ngFor="let ship of ships" [ngValue]="ship.shipId">
              {{ship.name}}
            </option>
          </select>
        </div>

        <div class="form-group row">
          <div class="col-sm-4 mt-sm-3">
            <button class="btn btn-primary mr-sm-2" (click)="save()">Save</button>
            <a class="btn btn-secondary" [routerLink]="['/events']">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
